<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NAVB2BService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>    
    <add key="NAVODATAUrl" value="http://192.6.1.53:7058/navEcodom/ODATA"/>
    <add key="NAVSOAPUrl" value="http://192.6.1.53:7057/navEcodom/WS/{0}/Codeunit/B2BManagement"/>
    
    <add key="NAV_User" value="stefano"/>
    <add key="NAV_Pwd" value="sd20111115."/>
    <add key="NAV_Domain" value="domain_eid"/>
    <add key="Company" value="Febi Test"/>
    
    
    <add key="WS_User" value="b2b"/>
    <add key="WS_Pwd" value="b2b@nav"/>
  </appSettings> 

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="RestService.B2BService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RestService.IB2BService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <applicationSettings>
    <NAVB2BService.Properties.Settings>
      <setting name="NAVB2BService_B2BManagement_B2BManagement" serializeAs="String">
        <value>http://vmeid27.eid.local:7057/navEcodom/WS/Febi%20Test/Codeunit/B2BManagement</value>
      </setting>
    </NAVB2BService.Properties.Settings>
  </applicationSettings>
</configuration>
