<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplicationNAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ConsoleApplicationNAV.Properties.Settings>
            <setting name="ConsoleApplicationNAV_NAVWS_SalesOrder_Service"
                serializeAs="String">
                <value>http://192.6.1.37:7047/DynamicsNAV90/WS/CRONUS%20Italia%20S.p.A./Page/SalesOrder</value>
            </setting>
            <setting name="NAVWSURL" serializeAs="String">
                <value>http://192.6.1.37:7047/DynamicsNAV90/WS/CRONUS%20Italia%20S.p.A./Page/SalesOrder</value>
            </setting>
            <setting name="ConsoleApplicationNAV_NAVWS_SalesLines_SalesOrderLInes_Service"
                serializeAs="String">
                <value>http://192.6.1.37:7047/DynamicsNAV90/WS/CRONUS%20Italia%20S.p.A./Page/SalesOrderLInes</value>
            </setting>
        </ConsoleApplicationNAV.Properties.Settings>
    </applicationSettings>
</configuration>